{% extends "AppBlog/base.html" %}
{% load static %}
{% static "" as baseUrl %}
{% block content %}
<div style="max-width:600px; margin:2% auto 2% auto; padding:8px 9px;">
  <section class="about-us">
    <div class="about">
      <img src="{% static 'AppBlog/assets/_discord.png' %}" style="position:absolute; text-align: left; margin-left:-10%; border-radius: 10%;">
      <div class="text">
        <h2>Sobre la autora</h2>
        <h5>Alicia Vera Alice</span></h5>
          <p>Recibida en la carrera de Diseño Gráfico en la Universidad de Buenos Aires. Siempre tuve pasión no sólo por el diseño, si no también por los video juegos, cocinar y la teconología en general.</p>
          <p>Este blog fue realizado como entrega para el curso de Python / Django de Coderhouse. Tiene como objetivo ser un blog de recetas para compartir ideas que ayuden a evitar el eterno loop de la pregunta "¿Qué comemos?".
          </p>
          <p>
            Así que, ¡Elige una entrada a la zar, toma nota y a cocinar!
          </p>
        <div class="data">
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}