{% extends "AppBlog/base.html" %}
{% block content %}
<style>
    .errorlist{list-style: none; color:red;}
</style>
<div style="max-width:600px; margin:3% auto 5% auto">
    <h1>Cambiar contraseña</h1>
    <form class="form-control" action="{% url 'CambiarContrasenia' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="text-align:right; padding:4%">
            <input class="btn btn-primary" type="submit" value="Cambiar contraseña" style="width:200px"/>
        </div>  
    </form>
</div>
{% endblock %}