{% extends "AppBlog/base.html" %}
{% load static %}
{% block content %}
    {% if mensaje %}
    <h1>{{ mensaje }}</h1>
    {% endif %}
    {% if posts %}
    <div style="display: grid; padding: 10px; grid-row-gap: 5px; grid-column-gap: 5px; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); justify-content: center;">
        {% for post in posts %}
            {% load temploader %}
            {% post_template_reducido post %}
        {% endfor %}
    </div>
    {% else %}
    <div style="margin:auto; text-align: center; padding:5%">
        <img src="{% static 'AppBlog/assets/warning-sign.svg' %}" style="width:150px; height:150px; margin-bottom:5%">
        <h1>Oops!</h1>
        <h3>Actualmente no hay ningún artículo cargado en el blog.</h3>
    </div>
    {% endif %}
{% endblock %}