<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div style="text-align: center;">
    <a href="{% url 'Home' %}">Home</a> | 
    {% if not logeado %} 
        <a href="{% url 'Login' %}">Login</a> | <a href="{% url 'Registro' %}">Sign up</a> 
    {% else %}
        {% if es_admin %}
            <a href="{% url 'Posts' %}">Crear Entrada</a> |
        {% endif %}
        <a href="{% url 'VerPerfil' %}">Perfil</a> |
        <a href="{% url 'Logout' %}">Logout</a>
    {% endif %}
</div>
{% if mensaje %}
<h1>{{ mensaje }}</h1>
{% endif %}
{% if posts %}
    {% for post in posts %}
    <li>
        <a href="{% url 'Posteo' post.id %}">
            {{ post }}
        </a>
    </li>
    {% endfor %}
{% else %}
    <h1>No hay posts :(</h1>
{% endif %}
</body>
</html>