{% extends "AppBlog/base.html" %}
{% block content %}
    {% load static %}
    {% static "" as baseUrl %}
    {% if form %}
        <h1>Editar perfil</h1>
        <form enctype="multipart/form-data" action="{% url 'EditarDatos' %}" method="POST">
            {% csrf_token %}
            Nombre: {{ perfil.username }}
            {{ form.as_p }}
            <input type="submit" value="Guardar"/>
        </form>
    {% else %}
        <h1>Perfil</h1>
        {{ perfil }}
        {% if perfil.imagen %}
            <img src="{{ baseUrl }}{{perfil.imagen.name}}"></img>
        {% endif %}
        <a href="{% url 'EditarDatos' %}">Editar datos</a>
        <a href="{% url 'CambiarContrasenia' %}">Cambiar contraseña</a>
    {% endif %}
{% endblock %}