<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'AppBlog/css/styles.css'%}" rel="stylesheet" />
</head>
<body>
    {% load static %}
    {% static "" as baseUrl %}
    {% if form %}
        <h1>Editar perfil</h1>
        <form enctype="multipart/form-data" action="{% url 'EditarDatos' %}" method="POST">
            {% csrf_token %}
            Nombre: {{ perfil.username }}
            {{ form.as_p }}
            <input type="submit" value="Guardar"/>
        </form>
    {% else %}
        <h1>Perfil</h1>
        {{ perfil }}
        {% if perfil.imagen %}
            <img src="{{ baseUrl }}{{perfil.imagen.name}}"></img>
        {% endif %}
        <a href="{% url 'EditarDatos' %}">Editar datos</a>
        <a href="{% url 'CambiarContrasenia' %}">Cambiar contraseña</a>
    {% endif %}
</body>
</html>