{% extends "AppBlog/base.html" %}
{% block content %}
    <div class="container mt-5">
            <div class="col-lg-12">
                <section class="mb-5">
                    <figure class="mb-4">
                        <img class="img-fluid rounded" style="border:1px solid #000000; object-fit: contain; width:100%; height:100%;" src="{{ baseUrl }}{{post.imagen.name}}"></img>
                    </figure>
                    {% load temploader %}
                    {% post_template post %}
                </section>
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        {% if puede_comentar %}
                            <form class="mb-4" action="{% url 'ComentarPost' post.id %}" method="POST">
                                {% csrf_token %}
                                <p>Comentario <textarea class="form-control" rows="3" name="contenido"></textarea></p>
                                <input type="submit" value="Comentar"/>
                            </form>
                        {% endif %}

                        {% if post.comentario_set.count > 0 %}
                            {% for comentario in post.comentario_set.all %}
                                {% load temploader %}
                                {% comentario_template comentario %}
                                {% if es_admin %}
                                <div>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'BorrarComentario' comentario.id %}">Borrar!</a>
                                </div>
                                {% endif %}
                                {% if comentario.respuestacomentario %}
                                    <ul>
                                        <li>
                                            {{ comentario.respuestacomentario }}
                                            {% if es_admin %}
                                                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'BorrarRespuesta' comentario.id %}">Borrar!</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                {% elif es_admin %}
                                    <form action="{% url 'ResponderComentario' comentario.id %}" method="POST">
                                        {% csrf_token %}
                                        <p>Respuesta<textarea class="form-control" rows="2" name="contenido"></textarea></p>
                                        <input class="btn btn-primary" type="submit" value="Responder"/>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h7 class="text-muted"><i>Aún no hay comentarios</i></h7>
                        {% endif %}
                    </div>
                </div>
            </section>
                <div style="margin-bottom: 5%; text-align: right;">
                    {% if es_admin %}
                        <a class="btn btn-primary" style="background-color: red;" href="{% url 'BorrarPost' post.id %}">Borrar artículo</a>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}