<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
{{ post }}

{% if es_admin %}
    <a href="{% url 'BorrarPost' post.id %}">Borrar!</a>
{% endif %}

{% if puede_comentar %}
    <form action="{% url 'ComentarPost' post.id %}" method="POST">
        {% csrf_token %}
        <p>Comentario <input type="text" name="contenido"></p>
        <input type="submit" value="Comentar"/>
    </form>
{% endif %}

{% if post.comentario_set.count > 0 %}
    {% for comentario in post.comentario_set.all %}
        <li>
            {{ comentario }}
        </li>
        {% if es_admin %}
            <a href="{% url 'BorrarComentario' comentario.id %}">Borrar!</a>
        {% endif %}
    {% endfor %}
{% else %}
    <h1>No hay comentarios :(</h1>
{% endif %}
</body>
</html>