{% extends "AppBlog/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <section class="mb-5">
                    <figure class="mb-4">
                        <img class="img-fluid rounded" style="border:1px solid #000000;" src="{{ baseUrl }}{{post.imagen.name}}"></img>
                    </figure>
                    {% load temploader %}
                    {% post_template post %}
                </section>
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        {% if puede_comentar %}
                            <form class="mb-4" action="{% url 'ComentarPost' post.id %}" method="POST">
                                {% csrf_token %}
                                <p>Comentario <textarea class="form-control" rows="3" name="contenido"></textarea></p>
                                <input type="submit" value="Comentar"/>
                            </form>
                        {% endif %}

                        {% if post.comentario_set.count > 0 %}
                            {% for comentario in post.comentario_set.all %}
                                <li>
                                    {{ comentario }}
                                    {% if es_admin %}
                                        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'BorrarComentario' comentario.id %}">Borrar!</a>
                                    {% endif %}
                                </li>
                                {% if comentario.respuestacomentario %}
                                    <ul>
                                        <li>
                                            {{ comentario.respuestacomentario }}
                                            {% if es_admin %}
                                                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'BorrarRespuesta' comentario.id %}">Borrar!</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                {% elif es_admin %}
                                    <form action="{% url 'ResponderComentario' comentario.id %}" method="POST">
                                        {% csrf_token %}
                                        <p>Respuesta<textarea class="form-control" rows="2" name="contenido"></textarea></p>
                                        <input type="submit" value="Responder"/>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h1>No hay comentarios :(</h1>
                        {% endif %}
                    </div>
                </div>
            </section>
                {% if es_admin %}
                    <a class="btn btn-primary" href="{% url 'BorrarPost' post.id %}">Borrar articulo</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}