{% load static %}
{% static "" as baseUrl %}
<div class="card mb-4" style="max-width:450px;">
    <img class="card-img-top" style="border:1px solid #000000; overflow-clip-margin: content-box; overflow: clip; max-height:300px;" src="{{ baseUrl }}{{ posteo.imagen.name }}"></img>
    <div class="card-body">
        <div class="small text-muted"><b>Por {{ posteo.autor }} </b>· Publicado el {{ posteo.fecha }}</div>
        <h2 class="card-title h4">{{ posteo.titulo }}</h2>
        <p class="card-text" style="max-width: 100ch; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ posteo.contenido }}
        </p>
        <a class="btn btn-primary" href="{% url 'Posteo' posteo.id %}">Leer completo →</a>
    </div>
</div>