<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'AppBlog/css/styles.css'%}" rel="stylesheet" />
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
            {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Iniciar sesión</button>
    </form>
    {% if mensaje %}
        <h1>{{ mensaje }}</h1>
    {% endif %}
</body>
</html>